<!DOCTYPE html>
<html>
<head>
<title>Russell Hospital</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='override.css') }}">
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
</head>
<body>
    {% set navigation_bar = [
        ('/', 'index', 'Home'),
        ('/rh/api/v1.0/alerts', 'alerts', 'Alerts'),
        ('/rh/api/v1.0/equipment', 'equipment', 'Devices'),
        ('/rh/api/v1.0/contact', 'contact', 'Contact')
    ] -%}
    {% set active_page = active_page|default('index') -%}

    <div id="base_header" class="page-header">
        <h1>Russell <span class="orange-text">Hospital</span><span class="pull-right" data-bind="text: clock().time">10:00 PM</span></h1> 
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <ul class="nav nav-pills">

                {% for href, id, caption in navigation_bar %}
                  <li{% if id == active_page %} class="active"{% endif
                  %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
                {% endfor %}

                <li class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown"> User <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                            {% if not session.logged_in %}
                                <a href="{{ url_for('login') }}">Log in</a>
                            {% else %}
                                <a href="{{ url_for('logout') }}">log out</a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="main_content" class="container">
        {% block content %}{% endblock%}
    </div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
</html>
