{% extends "base.html" %}
{% set active_page = "contact" %}

{% block content %}

        <div class="panel panel-default">
            <div class="panel-heading">Contacts</div>
            <table class="table">
                <tbody>
                    <tr>
                        <td><strong>Project Coordinator</strong></td>
                        <td>Chase O'Mary</td>
                        <td>(205) 412 1711</td>
                    </tr>
                    <tr>
                        <td><strong>Webmasters</strong></td>
                        <td><p>Todd Baldwin</p><p>Jordan Hurt</p></td>
                        <td><p>(205) 503 7039</p><p>(256) 694 2177</p></td>
                    </tr>
                    <tr>
                        <td><strong>Hardware Specialists</strong></td>
                        <td><p>Forrest Muir</p><p>Dustin Marshall</p></td>
                        <td><p>(205) 331 6633</p><p>(256) 303 9611</p></td>
                    </tr>
                    <tr>
                        <td><strong>BACnet Analyst</strong></td>
                        <td><p>Josh Starling</p><p>Adam Blood</p></td>
                        <td><p>(256) 282 1797</p><p>(205) 914 8469</p></td>
                    </tr>
                </tbody>
            </table>
        </div>

{% endblock %}
